<!-- product-card--soldout -->
<div class="product-card">
  <a href="" class="product-card__link">
    <div class="product-card__img-wrapper">
      <img
        class="product-card__img product-card__main-img"
        src="..."
        alt="Hot product image"
      />

      <img
        class="product-card__img product-card__hover-img"
        src="..."
        alt="Hot product image"
      />
    </div>

    <p class="product-card__name">
      Chuột không dây siêu nhẹ Pulsar X2 Wireless X RandomfrankP (Limited
      Edition)
    </p>
  </a>

  <button
    class="btn btn-primary product-card__add-cart-btn"
    data-product-id
    data-add-to-cart-btn
  >
    + Thêm
  </button>

  <div class="product-card__sold-out">Hết hàng</div>

  <p class="product-card__price">2.499.000đ</p>
</div>

<form action="">
  <div class="grid wide">
    <div class="row">
      <div class="col l-6 m-6 c-12">
        <div class="input-group">
          <label for="name"></label>
          <div class="custom-input-wrapper">
            <input
              id="name"
              placeholder=" "
              name="name"
              type="text"
              class="custom-input__input-text"
            />
            <span class="custom-input__input-label">Name</span>
          </div>
        </div>
      </div>

      <div class="col l-6 m-6 c-12">
        <div class="input-group">
          <label for="email"></label>
          <div class="custom-input-wrapper">
            <input
              id="email"
              placeholder=" "
              name="email"
              type="email"
              class="custom-input__input-text"
            />
            <span class="custom-input__input-label">Email</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
