*,
*:before,
*:after {
    box-sizing: inherit;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
    border-color: rgb(39 39 39 / .12)
}

html {
    font-family: 'Inter', sans-serif;

    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box;
    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;
    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;

    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    scroll-padding-block-start: 20px;
    line-height: 1.5
}

body {
    background: rgb(255 255 255);
    color: rgb(39 39 39);
    font: normal 400 1.0rem / 1.6 -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    letter-spacing: 0.0em;
    margin: 0;
    position: relative
}

legend {
    padding: 0
}

fieldset {
    margin: 0;
    padding: 0
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: inherit;
    color: inherit;
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px
}

button,
select {
    text-transform: none
}

button,
[type=button],
[type=reset],
[type=submit] {
    -webkit-appearance: button;
    text-align: inherit;
    background-color: #0000;
    background-image: none
}

button,
label,
summary,
[role=button],
[type=checkbox],
[type=radio],
[type=submit] {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    cursor: pointer
}

/* Inputs  */
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0
}

.input,
.select {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 2.625rem;
    border-radius: 0.5rem;
    background: rgb(transparent);
    color: rgb(var(--input-text-color, 39 39 39));
    text-align: start;
    border-width: 1px;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
}

.input:focus,
.textarea:focus,
.select:focus-visible {
    border-color: currentColor;
    outline: none;
    box-shadow: inset 0 0 0 1px
}

.input.is-floating,
.select.is-floating {
    height: calc(2.625rem + .625rem);
    padding-block-start: 1rem;
}

.button,
.btn {
    --button-outline-color: 60 97 158;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 3.75rem;
    background-color: rgb(60 97 158);
    color: rgb(255 255 255);
    text-align: center;
    font-size: 0.75rem;
    letter-spacing: 0.0em;
    padding-block-start: 0.625rem;
    padding-block-end: 0.625rem;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
    font-weight: 700;
    line-height: 1.6;
    transition: background-color .15s ease-in-out, color .15s ease-in-out, box-shadow .15s ease-in-out;
    display: inline-block;
    position: relative
}

/* Seletion loading
   * Usage: add a div with class="skeleton" and set style="width: 100px; height: 40px"
   */
.skeleton {
    border-radius: 8px;
    animation: skeleton-loading 0.6s linear infinite alternate;
    cursor: default;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }

    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/* Sub-header */
.sub-header {
    background-color: #1a1a1a;
    display: flex;
    overflow-x: hidden;
    --translate-x: -60px;
    transform: translateX(-60px);
    width: calc(100% - -60px);
    height: 48px;
    display: flex;
    align-items: center;
}

.sub-header__list {
    display: flex;
    flex-shrink: 0;
}

.sub-header__item {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 600;
    color: #fff;
    padding: 0 84px;
    position: relative;
}

.sub-header__item::after {
    content: '';
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 4px;
    background-color: #fff;
}

/* Button */
.btn {
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 16px 24px;
    border-radius: 500px;
    background-color: #fff;
    color: #272727;
    cursor: pointer;
    transition: all 0.1s linear;
}

.btn-primary {
    background-color: #1d2864;
    color: #fff;
}

.btn-primary:hover {
    background-color: transparent;
    color: #1d2864;
    outline: 3px solid #1d2864;
}