custom-cursor {
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    scale: .5;
    transition: opacity .1s, scale .1s, visibility .1s !important
}

:has(> custom-cursor:not([hidden])) {
    cursor: none
}



/* Rensponsive */
@media screen and (pointer: fine) {
    custom-cursor {
        display: block
    }

    custom-cursor.is-visible {
        opacity: 1;
        visibility: visible;
        scale: 1
    }
}

@media screen and (max-width: 699px) {
    .multiple-images-with-text__content-with-nav .circle-button {
        width: 2.5rem;
        height: 2.5rem
    }
}