#product-main {
    --section-is-first: 1;
    --product-grid: auto / minmax(0, 1fr);

    --hash-difference: calc(var(0) - var(0, -1));
    --hash-difference-abs: max(var(--hash-difference), -1 * var(--hash-difference));
    --background-differs-from-previous: max(0, min(var(--hash-difference-abs, 1), 1));
    background: rgb(255 255 255);
    position: relative;

    padding-block-start: calc(var(--background-differs-from-previous) * 48px);
    padding-block-end: 48px;
}

#product-main {
    grid: auto / minmax(0, 1fr);
    align-items: start;
    display: grid;
    column-gap: 3rem;
}

#product-info {
    top: 145px;
    --product-info-block-spacing: 1.5rem;
}

#product-info>*+* {
    margin-block-start: var(--product-info-block-spacing);
    margin-block-end: var(--product-info-block-spacing)
}

#product-info>:last-child {
    margin-block-end: 0
}

.vendor,
.product-name,
.product-price {
    --product-info-block-spacing: 0.5rem;
}

.product-name{
    font-size: 2.25rem;
    line-height: 1.1;
    font-family: v-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.01em;
    text-transform: normal;
    overflow-wrap: anywhere
}

.product-price {
    gap: 0.5rem;
    grid-template-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    align-items: baseline;
    display: grid;

    justify-content: flex-start;
    display: flex;
    font-size: 1.5rem;
    line-height: 1.6
}

.product-description > * {
    margin-block-start: 0.75rem;
}

/* Variant picker  */
#variant {
    gap: 1.5rem;
    grid-template-columns: minmax(0, 1fr);
    display: grid
}

#variant-name {
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    color: rgb(39 39 39 / .7)
}

#variant-options {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap
}

#variant-options .option {
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden
}

.option:focus-visible+label {
    outline: 2px solid Highlight;
    outline: 2px solid -webkit-focus-ring-color
}

.option-label{
    place-items: center;
    gap: 0.75rem;
    height: 3.125rem;
    border-radius: 3.75rem;
    border-width: 1px;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    display: flex;
    position: relative
}

.option-label.is-disabled {
    color: rgb(39 39 39 / .5);
    background-image: linear-gradient(to bottom right, #0000 50%, currentColor 50% calc(50% + 2px), #0000 calc(50% + 2px))
}

.option-labeloption-label:before {
    box-shadow: 0 0 0 2px rgb(39 39 39);
    border-radius: inherit;
    opacity: 0;
    will-change: transform;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(.95)
}

:checked+.option-label.is-disabled {
    background-image: linear-gradient(to bottom right, transparent 50%, rgb(var(--text-color)) 50% calc(50% + 2px), transparent calc(50% + 2px))
}

:checked+.option-label:before, .option-label.is-selected:before {
    opacity: 1;
    transform: scale(1);
}

:checked+.option-label:before,
.option-label.is-selected:before {
    opacity: 1;
    transform: scale(1)
}

:focus-visible+.option-label {
    outline-offset: 4px
}

.buy-buttons {
    align-items: start;
    gap: 0.5rem;
    display: grid;

    font-size: 1rem;
    padding-block-start: 1rem;
    padding-block-end: 1rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;
} 


@media screen and (min-width: 1150px) {
    #product-main {
        grid: auto / auto-flow auto minmax(0, 1fr);
        align-items: start;
    }

    #product-main {
        column-gap: 3rem;
        gap: 3rem 2.5rem;
    }
}

@media screen and (min-width: 1600px) {
    #product-main {
        column-gap: 6rem
    }
}

@media screen and (max-width: 999px) {
    #product-main {
        gap: 2rem 2.5rem;
    }
}

@media screen and (min-width: 1000px) {
    #product-main {
        grid: auto / minmax(0, 1.1fr) minmax(0, 0.9fr);
    }

    #product-info {
        top: 20px;
        position: sticky
    }
}

/* Price div  */
#product-main div#price {
    color:rgb(227 79 79);
} 