.product-info__accordion {
    --product-info-block-spacing: 0
}


.product-info__badge-list {
    --product-info-block-spacing: var(--spacing-4)
}

.product-info__sku {
    display: block
}

.product-info__badge-list {
    gap: var(--spacing-2);
    flex-wrap: wrap;
    display: flex
}

.product-info__price .rating-with-text {
    justify-content: flex-start;
    display: flex
}

.product-info__price .product-info__badge-list {
    align-self: center;
    margin-inline-start: var(--spacing-1)
}

.product-info__price .rating {
    margin-inline-start: auto
}

.product-info__offer-list {
    gap: var(--spacing-2);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    display: grid
}

.product-info__share-buttons {
    display: none
}

.native-share--disabled .product-info__share-buttons {
    display: block
}

.product-info__native-share {
    display: none
}

.native-share--enabled .product-info__native-share {
    align-items: center;
    gap: var(--spacing-2-5);
    opacity: .7;
    transition: opacity .2s ease-in-out;
    display: flex
}

.native-share--enabled .product-info__native-share:hover {
    opacity: 1
}

.link-faded {
    opacity: .7;
    transition: opacity .2s ease-in-out
}

/* Ratings */
.rating {
    align-items: center;
    gap: var(--spacing-1-5);
    display: flex
}

.rating__stars {
    display: contents
}

.rating__star {
    color: rgb(var(--star-color));
    position: relative;
    top: -1px
}

.rating__star--empty {
    filter: grayscale()
}

@media screen and (min-width: 700px) {
    .rating__star {
        width: 15px;
        height: 15px
    }
}

.rating-with-text {
    gap: var(--spacing-2);
    grid-template-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    align-items: baseline;
    display: grid
}


/* Responsive */
@media screen and (min-width: 700px) {

    .product-info__buy-buttons {
        --product-info-block-spacing: var(--spacing-8)
    }

    .product-info__offer-list {
        gap: var(--spacing-4)
    }

    .product-info__complementary-products .horizontal-product-list-carousel:not(.separate) {
        border-width: 1px
    }

    .product-info__complementary-products .horizontal-product-list-carousel>.horizontal-product-list,
    .product-info__complementary-products .horizontal-product-list-carousel .horizontal-product {
        border: none
    }
}

@media screen and (pointer: fine) {
    .link-faded:hover {
        opacity: 1
    }
}