.full-bleed {
    margin-inline-start: calc(-1 * var(--container-outer-width));
    margin-inline-end: calc(-1 * var(--container-outer-width));
    display: grid
}

.scroll-area::-webkit-scrollbar {
    display: none
}

scroll-area, 
carousel {
    display: block
}

:not(.is-scrollable)~.peer-not-scrollable\:hidden,
.hidden,
.empty\:hidden:empty {
    display: none
}

:has(> custom-cursor:not([hidden])) {
    cursor: none
}

.snap-center {
    scroll-snap-align: center;
    scroll-snap-stop: always
}

/* Responsive */
@media screen and (pointer: fine) {
    .floating-controls-container:hover .is-scrollable~.circle-button:not([disabled]) {
        opacity: 1;
        visibility: visible;
        transform: scale(1)
    }
}

@media screen and (min-width: 1000px) {
    :not(.is-scrollable) .text-with-icons__list {
        gap: var(--spacing-6)
    }

    :not(.is-scrollable) .text-with-icons__item {
        padding-inline-start: 0;
        padding-inline-end: 0
    }
}

@media screen and (min-width: 1400px) {
    :not(.is-scrollable) .text-with-icons__list {
        gap: var(--spacing-10)
    }
}

@media screen and (min-width: 1000px) {
    .md\:unbleed {
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;
        padding-inline-end: 0;
        scroll-padding-inline: 0
    }
}

@media screen and (min-width: 1000px) {
    .product-gallery {
        gap: var(--spacing-6) var(--spacing-12)
    }

    .product-gallery__thumbnail-list-wrapper {
        align-items: center;
        gap: var(--spacing-4);
        grid-auto-flow: column;
        display: grid;
        position: relative
    }

    .product-gallery__thumbnail-list {
        gap: var(--spacing-4)
    }

    .product-gallery__thumbnail-list-wrapper>button {
        z-index: 1;
        opacity: 0;
        margin-top: -3px;
        transition: opacity .1s, transform .1s;
        position: absolute;
        transform: scale(.6)
    }

    .product-gallery__thumbnail-list-wrapper>button:first-child:not(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        left: 8px
    }

    .product-gallery__thumbnail-list-wrapper>button:first-child:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        right: 8px
    }

    .product-gallery__thumbnail-list-wrapper>button:last-child:not(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        right: 8px
    }

    .product-gallery__thumbnail-list-wrapper>button:last-child:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        left: 8px
    }

    .product-gallery__thumbnail-list-wrapper>button[disabled] {
        opacity: 0
    }

    .product-gallery__thumbnail-list-wrapper:hover>button:not([disabled]) {
        opacity: 1;
        transform: scale(1)
    }

    .product-gallery--desktop-grid .product-gallery__thumbnail-list-wrapper {
        display: none
    }

    .product-gallery__media--expand {
        grid-column: span 2
    }

    .product-gallery__zoom {
        opacity: 0;
        position: absolute;
        top: auto;
        bottom: var(--spacing-6);
        transform: scale(.8)
    }

    .product-gallery__zoom:not(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        right: var(--spacing-6)
    }

    .product-gallery__zoom:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        left: var(--spacing-6)
    }

    .product-gallery__zoom svg {
        width: 17px;
        height: 17px
    }

    .product-gallery__zoom>.circle-button {
        width: 3.5rem;
        height: 3.5rem
    }

    .product-gallery--desktop-grid .product-gallery__zoom {
        transition: opacity .2s ease-in-out, transform .2s ease-in-out
    }

    .product-gallery--desktop-grid .product-gallery__media:hover .product-gallery__zoom {
        opacity: 1;
        transform: scale(1)
    }

    .product-gallery--desktop-carousel .product-gallery__zoom {
        opacity: 1;
        visibility: visible
    }

    .product-gallery--desktop-carousel:has([data-media-type*="video"].is-selected) .product-gallery__zoom {
        opacity: 0;
        visibility: hidden
    }

    [data-shopify-xr-hidden] {
        display: none
    }
}

