@media screen and (min-width: 1400px) {
    .content-over-media--sm {
        --content-over-media-height: 440px
    }

    .content-over-media--md {
        --content-over-media-height: 500px
    }

    .content-over-media--lg {
        --content-over-media-height: 640px
    }

    .content-over-media--fill>:is(img, video, iframe, svg, video-media) {
        max-height: 1200px
    }
}

@media screen and (min-width: 700px) {
    .section--tight {
        --calculated-section-spacing-block-start: min(48px, var(--section-spacing-block-start, var(--section-spacing-block, var(--context-section-spacing-block-start, 0px))));
        --calculated-section-spacing-block-end: min(48px, var(--section-spacing-block-end, var(--section-spacing-block, var(--context-section-spacing-block-end, 0px))))
    }

    .section-boxed {
        --context-section-spacing-block-start: min(var(--section-inner-max-spacing-block, var(--section-outer-spacing-block)));
        --context-section-spacing-block-end: min(var(--section-inner-max-spacing-block, var(--section-outer-spacing-block)));
        --context-section-spacing-inline: var(--section-inner-spacing-inline);
        --container-inner-width: calc(var(--container-max-width) - var(--container-outer-width) * 2);
        --container-outer-width: var(--calculated-section-spacing-inline);
        border-radius: var(--rounded-lg);
        box-shadow: var(--shadow-block);
        margin-block-start: calc(var(--background-differs-from-previous) * var(--section-outer-spacing-block-start, var(--section-outer-spacing-block)));
        margin-block-end: var(--section-outer-spacin-block-end, var(--section-outer-spacing-block));
        margin-inline-start: max(var(--container-gutter), 50% - var(--container-max-width) / 2);
        margin-inline-end: max(var(--container-gutter), 50% - var(--container-max-width) / 2);
        padding-block-start: var(--calculated-section-spacing-block-start);
        padding-inline-start: var(--calculated-section-spacing-inline);
        padding-inline-end: var(--calculated-section-spacing-inline)
    }

    .shopify-section:first-child {
        --section-outer-spacing-block-start: 24px
    }
}

@media screen and (min-width: 1600px) {
    .section--tight {
        --calculated-section-spacing-block-start: min(64px, var(--section-spacing-block-start, var(--section-spacing-block, var(--context-section-spacing-block-start, 0px))));
        --calculated-section-spacing-block-end: min(64px, var(--section-spacing-block-end, var(--section-spacing-block, var(--context-section-spacing-block-end, 0px))))
    }
}

@media screen and (min-width: 1150px) {
    .section-header {
        grid-template-columns: 700px;
        justify-content: space-between;
        align-items: end
    }

    .section-header>.text-with-icon {
        grid-column-start: 2
    }
}

@media screen and (min-width: 1150px) {
    .section-stack--horizontal {
        justify-content: center;
        display: flex
    }

    .section-stack--center {
        justify-items: center
    }

    .section-stack--reverse {
        flex-direction: row-reverse
    }

    .section-stack__intro {
        width: var(--section-stack-intro, 50%)
    }

    .section-stack__main {
        width: var(--section-stack-main, 50%)
    }
}

@media screen and (min-width: 1000px) {
    .newsletter {
        grid-template-columns: .5fr .5fr;
        display: grid
    }

    .newsletter-content>.form {
        max-width: 490px
    }

    .newsletter>.newsletter-box {
        justify-content: start;
        align-items: center;
        display: grid
    }

    .section-full .newsletter-box {
        background: none
    }
}

@media screen and (min-width: 700px) {
    .section-boxed .shop-the-look {
        --shop-the-look-gap: var(--calculated-section-spacing-inline);
        --shop-the-look-grid: auto / 55% minmax(0, 1fr)
    }

    .shop-the-look {
        --shop-the-look-gap: var(--spacing-18);
        --shop-the-look-grid: auto / minmax(0, 1fr) 40%
    }

    .shop-the-look__products {
        justify-items: flex-end;
        gap: var(--spacing-8);
        display: grid
    }

    .shop-the-look__carousel {
        width: 100%;
        display: grid
    }

    .shop-the-look__carousel>* {
        grid-area: 1 / -1
    }

    .shop-the-look__controls {
        gap: var(--spacing-4);
        grid: auto / auto-flow;
        margin-inline-start: auto;
        margin-inline-end: auto;
        display: grid
    }
}

@media screen and (min-width: 1000px) {
    .section-boxed .shop-the-look__carousel {
        --shop-the-look-carousel-width: 100%
    }

    .shop-the-look {
        --shop-the-look-gap: 0;
        --shop-the-look-grid: auto / repeat(2, minmax(0, 1fr))
    }

    .shop-the-look__products {
        justify-items: center
    }

    .shop-the-look__carousel {
        --shop-the-look-carousel-width: 60%;
        width: var(--shop-the-look-carousel-width)
    }
}

@media screen and (min-width: 1150px) {
    .section-boxed .shop-the-look {
        --shop-the-look-grid: auto / repeat(2, 1fr)
    }

    .section-boxed .shop-the-look__carousel {
        --shop-the-look-carousel-width: 60%
    }
}

/* Texts and headings */
@media screen and (min-width: 700px) {
    .sm\:text-xxs {
        font-size: 10px;
        line-height: 1.7
    }

    .sm\:text-xs {
        font-size: var(--text-xs);
        line-height: 1.7
    }

    .sm\:text-sm {
        font-size: var(--text-sm);
        line-height: 1.6
    }

    .sm\:text-base {
        font-size: var(--text-base);
        line-height: 1.6
    }

    .sm\:text-lg {
        font-size: var(--text-lg);
        line-height: 1.6
    }

    .sm\:h0 {
        font-size: var(--text-h0);
        line-height: 1
    }

    .sm\:h1 {
        font-size: var(--text-h1);
        line-height: 1.1
    }

    .sm\:h2 {
        font-size: var(--text-h2);
        line-height: 1.1
    }

    .sm\:h3 {
        font-size: var(--text-h3);
        line-height: 1.2
    }

    .sm\:h4 {
        font-size: var(--text-h4);
        line-height: 1.3
    }

    .sm\:h5 {
        font-size: var(--text-h5);
        line-height: 1.4
    }

    .sm\:h6 {
        font-size: var(--text-h6);
        line-height: 1.4
    }
}

@media screen and (min-width: 700px) {
    .sm\:hidden {
        display: none
    }

    .sm\:block {
        display: block
    }

    .sm\:flex {
        display: flex
    }

    .sm\:grid {
        display: grid
    }

    .sm\:table-cell {
        display: table-cell
    }
}

@media screen and (min-width: 700px) {
    .impact-text {
        --impact-text-spacing: var(--spacing-8);
        grid: auto / auto-flow var(--impact-text-auto-columns)
    }

    .impact-text--center {
        justify-content: space-evenly
    }
}

@media screen and (min-width: 1150px) {
    .impact-text {
        --impact-text-spacing: var(--spacing-12)
    }
}

/* Prose*/
@media screen and (min-width: 1150px) {
    .prose *+p {
        margin-block-start: var(--spacing-6)
    }
}

@media screen and (pointer: fine) {
    :is(.link, .prose a:not(.button)):hover {
        background-size: 0 1px
    }

    .text-subdued :is(.link, .prose a:not(.button)):hover {
        color: rgb(var(--text-color))
    }
}

@media screen and (min-width: 700px) {
    .prose *+:is(p, div, ul, ol) {
        margin-block-start: var(--spacing-4)
    }

    .prose *+:is(.h0, .h1, .h2, h1, h2) {
        margin-block-start: var(--spacing-6)
    }

    .prose *+:is(.h3, .h4, h3, h4) {
        margin-block-start: var(--spacing-5)
    }

    .prose *+:is(.h5, .h6, h5, h6) {
        margin-block-start: var(--spacing-4)
    }

    .prose *+.button {
        margin-block-start: var(--spacing-8) !important
    }

    .prose .h0+.button {
        margin-block-start: var(--spacing-10) !important
    }

    .prose :is(.h0, .h1, .h2, .h3, h1, h2, h3)+* {
        margin-block-start: var(--spacing-6)
    }

    .prose :is(.h4, h4)+* {
        margin-block-start: var(--spacing-5)
    }

    .prose :is(.h5, .h6, h5, h6)+* {
        margin-block-start: var(--spacing-4)
    }

    .prose :is(p img:not([style*="float"]):only-child, div img:not([style*="float"]):only-child, figure, video) {
        margin-block: var(--spacing-12)
    }
}

@media screen and (min-width: 1150px) {
    .prose *+p {
        margin-block-start: var(--spacing-6)
    }

    .prose *+:is(.h0, .h1, h1) {
        margin-block-start: var(--spacing-8)
    }

    .prose *+:is(.h2, .h3, .h4, h2, h3, h4) {
        margin-block-start: var(--spacing-6)
    }

    .prose *+:is(.h5, .h6, h5, h6) {
        margin-block-start: var(--spacing-4)
    }

    .prose :is(.h0, .h1, .h2, h1, h2)+* {
        margin-block-start: var(--spacing-8)
    }

    .prose :is(.h3, .h4, h3, h4)+* {
        margin-block-start: var(--spacing-6)
    }

    .prose :is(.h5, .h6, h5, h6)+* {
        margin-block-start: var(--spacing-4)
    }
}

/* Buttons */
@media screen and (min-width: 700px) {

    .button,
    .btn {
        padding-block-start: var(--spacing-3);
        padding-block-end: var(--spacing-3);
        padding-inline-start: var(--spacing-6);
        padding-inline-end: var(--spacing-6)
    }

    .button--sm {
        padding-block-start: var(--spacing-2);
        padding-block-end: var(--spacing-2);
        padding-inline-start: var(--spacing-5);
        padding-inline-end: var(--spacing-5)
    }

    .button--lg {
        padding-block-start: var(--spacing-3-5);
        padding-block-end: var(--spacing-3-5);
        padding-inline-start: var(--spacing-8);
        padding-inline-end: var(--spacing-8)
    }

    .button--xl {
        padding-block-start: 1.075rem;
        padding-block-end: 1.075rem;
        padding-inline-start: var(--spacing-10);
        padding-inline-end: var(--spacing-10)
    }
}

/* Feature chart  */
@media screen and (max-width: 699px) {

    .feature-chart,
    .feature-chart__table {
        margin-inline-start: calc(-1 * var(--container-gutter));
        margin-inline-end: calc(-1 * var(--container-gutter));
        padding-inline-start: var(--container-gutter);
        padding-inline-end: var(--container-gutter);
        display: grid
    }

    .feature-chart__table-row {
        grid-template-columns: repeat(var(--feature-chart-values-columns-count), minmax(140px, 1fr))
    }

    .feature-chart__table--multi-columns .feature-chart__table-row {
        grid-template-columns: repeat(var(--feature-chart-values-columns-count), 150px)
    }

    .feature-chart__heading {
        position: sticky
    }

    .feature-chart__heading:not(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        left: 0
    }

    .feature-chart__heading:is(:lang(ae), :lang(ar), :lang(arc), :lang(bcc), :lang(bqi), :lang(ckb), :lang(dv), :lang(fa), :lang(glk), :lang(he), :lang(ku), :lang(mzn), :lang(nqo), :lang(pnb), :lang(ps), :lang(sd), :lang(ug), :lang(ur), :lang(yi)) {
        right: 0
    }

    .feature-chart__value {
        grid-row: 2
    }
}

@media screen and (min-width: 700px) {
    .feature-chart {
        border-radius: var(--rounded)
    }

    .feature-chart__table-row--product>:first-child {
        grid-column-start: 2
    }
}

@media screen and (min-width: 1000px) {
    .feature-chart {
        padding: var(--spacing-4) var(--spacing-12)
    }

    .feature-chart__table-row {
        --feature-chart-heading-width: 180px;
        column-gap: var(--spacing-6);
        padding-block-start: var(--spacing-6);
        padding-block-end: var(--spacing-6)
    }

    .feature-chart__table-row--product {
        padding-block-end: var(--spacing-10)
    }

    .feature-chart__table-row--sticky {
        padding-block: var(--spacing-6)
    }

    .feature-chart__toggle {
        padding-block-start: var(--spacing-5);
        padding-block-end: var(--spacing-6)
    }

    .feature-chart__product {
        --feature-chart-product-image-width: 150px;
        max-width: 260px
    }

    .feature-chart__table-row--sticky .feature-chart__product {
        grid-auto-flow: column;
        justify-content: start
    }

    .feature-chart__table-row--sticky .feature-chart__product img {
        max-width: 80px
    }
}