#shopify-section-template--16714356457717__main {
    --section-background-hash: 0;
}

#shopify-section-template--16714356457717__main + * {
    --previous-section-background-hash: 0;
}


#shopify-section-template--16714356457717__19e8ae6c-fa47-41f7-b6fe-6d0a1f20d05a {
  --feature-chart-values-columns-count: 1;
}

@media screen and (min-width: 700px) {#shopify-section-template--16714356457717__19e8ae6c-fa47-41f7-b6fe-6d0a1f20d05a .section-stack {
      flex-wrap: wrap;
      justify-content: start;
    }

    #shopify-section-template--16714356457717__19e8ae6c-fa47-41f7-b6fe-6d0a1f20d05a .section-stack__intro {
      flex: 1 0 350px; /* Allow to grow and shrink with a range from 350px to 750px */
      max-width: 750px;
      width: auto;
    }

    #shopify-section-template--16714356457717__19e8ae6c-fa47-41f7-b6fe-6d0a1f20d05a .section-stack__main {
      flex: 1 1 600px;
      min-width: 450px;
      width: auto;
    }
}


#shopify-section-template--16714356457717__main {
    --product-grid: auto / minmax(0, 1fr);
    --product-gallery-media-list-grid: auto / auto-flow 100%;
    --product-gallery-media-list-gap: var(--spacing-0-5);
  }

  @media screen and (max-width: 999px) {
    #shopify-section-template--16714356457717__main {
      --section-spacing-block-start: 0px;
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-template--16714356457717__main {--product-grid: auto / minmax(0, 1.1fr) minmax(0, 0.9fr);
      --product-gallery-media-list-grid: auto / auto-flow 100%;
      --product-gallery-media-list-gap: calc(var(--grid-gutter) / 2);
    }}

  @media screen and (min-width: 1400px) {
    #shopify-section-template--16714356457717__main {
      --product-gallery-media-list-gap: var(--grid-gutter);
    }
}

#shopify-section-template--16714356457717__main sale-price {
    color:rgb(var(--on-sale-text));
} 



#shopify-section-template--16714356457717__facbc0fc-50e9-4ecf-9825-0f72ee84511b {
  --section-background-hash: 0;
}

#shopify-section-template--16714356457717__facbc0fc-50e9-4ecf-9825-0f72ee84511b+* {
  --previous-section-background-hash: 0;
}

#shopify-section-template--16714356457717__facbc0fc-50e9-4ecf-9825-0f72ee84511b {
  --impact-text-font-size: calc(min(20vw, 65px) * 1);
  --impact-text-auto-columns: 48vw auto;
}

@media screen and (min-width: 700px) {
  #shopify-section-template--16714356457717__facbc0fc-50e9-4ecf-9825-0f72ee84511b {
    --impact-text-font-size: calc(min(15vw, var(--container-max-width) * 0.15) / 3 * 1);
    --impact-text-auto-columns: minmax(0, 1fr) auto;
  }
}



#shopify-section-template--16714356457717__16769949917a009ef7 {
  --section-background-hash: 0;
}

#shopify-section-template--16714356457717__16769949917a009ef7+* {
  --previous-section-background-hash: 0;
}