:root {
  --header-height: 130px;
  --sub-header-height: 48px;

  --primary-color: #1d2864;
  --primary-color-light: #3c619e;
  --white-color: #fff;
  --black-color: #000;
  --background-color: #1a1a1a;
  --text-dark-color: #272727;
  --text-white-color: #fff;

  --border-radius-pill: 500px;

  --box-shadow-btn: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  --over-lay: var(--black-alpha-50);

  --black-alpha-90: rgba(0, 0, 0, 0.9);
  --black-alpha-80: rgba(0, 0, 0, 0.8);
  --black-alpha-70: rgba(0, 0, 0, 0.7);
  --black-alpha-60: rgba(0, 0, 0, 0.6);
  --black-alpha-50: rgba(0, 0, 0, 0.5);
  --black-alpha-40: rgba(0, 0, 0, 0.4);
  --black-alpha-30: rgba(0, 0, 0, 0.3);
  --black-alpha-20: rgba(0, 0, 0, 0.2);
  --black-alpha-10: rgba(0, 0, 0, 0.1);
  --black-alpha-5: rgba(0, 0, 0, 0.05);
  --black-alpha-2: rgba(0, 0, 0, 0.02);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Inter', sans-serif;

  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;
  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;
  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

body {
}

.app {
  overflow-x: hidden;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 500px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 500px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Utils */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  right: 0;
}

.text-align-center {
  text-align: center;
}

.padding-header {
  display: block;
  padding-top: var(--header-height);
}

.mb-32 {
  margin-bottom: 32px;
}

.gradient-text-primary-color-light {
  background: linear-gradient(
    to right,
    var(--black-alpha-70),
    var(--primary-color-light) 70%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.d-none {
  display: none;
}

/* Seletion loading
 * Usage: add a div with class="skeleton" and set style="width: 100px; height: 40px"
 */
.skeleton {
  border-radius: 8px;
  animation: skeleton-loading 0.6s linear infinite alternate;
  cursor: default;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/* Sub-header */
.sub-header {
  background-color: var(--background-color);
  display: flex;
  overflow-x: hidden;
  --translate-x: -60px;
  transform: translateX(var(--translate-x));
  width: calc(100% - var(--translate-x));
  height: var(--sub-header-height);
  display: flex;
  align-items: center;
}

.sub-header__list {
  display: flex;
  flex-shrink: 0;
}

.sub-header__item {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
  color: var(--text-white-color);
  padding: 0 84px;
  position: relative;
}

.sub-header__item::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 4px;
  background-color: var(--text-white-color);
}

/* Button */
.btn {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 600;
  border: none;
  outline: none;
  padding: 16px 24px;
  border-radius: var(--border-radius-pill);
  background-color: var(--white-color);
  color: var(--text-dark-color);
  cursor: pointer;
  transition: all 0.1s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: var(--primary-color-light);
  color: var(--text-white-color);
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--primary-color-light);
  outline: 3px solid var(--primary-color-light);
}

.btn-dark {
  background-color: var(--text-dark-color);
  color: var(--text-white-color);
}

.btn-dark:hover {
  background-color: transparent;
  color: var(--text-dark-color);
  outline: 3px solid var(--text-dark-color);
}

.btn-icon {
}

.btn-icon > i {
  font-size: 2rem;
}

.btn-icon-leading {
}

.btn-icon-leading > i {
  margin-right: 6px;
}

.btn-disabled {
  background-color: #e9e9e9;
  color: var(--text-dark-color);
  cursor: default;
  pointer-events: none;
}

/* Customer input */
.custom-input-wrapper {
  position: relative;
}

.custom-input__input-text {
  font-size: 1.6rem;
  padding: 28px 16px 12px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 8px;
  border: 2px solid rgba(39, 39, 39, 0.1);
}

.custom-input__input-text:is(:focus-visible, :focus) {
  border: 2px solid rgba(39, 39, 39, 0.7);
}

.custom-input__input-label {
  position: absolute;
  font-size: 1.6rem;
  color: rgba(39, 39, 39, 0.5);
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.25s ease-in-out;
}

.custom-input__input-text:is(:focus-visible, :focus)
  + .custom-input__input-label,
.custom-input__input-text:not(:placeholder-shown) + .custom-input__input-label {
  top: calc(50% - 12px);
  font-size: 1.1rem;
}

/* Product cart */
.product-card {
  position: relative;
}

.product-card__link {
  display: block;
}

.product-card__img-wrapper {
  position: relative;
  padding-top: 100%;
  margin-bottom: 24px;
}

.product-card__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  animation: fadeIn 0.2s ease-in-out;
}

.product-card__img-wrapper:hover .product-card__main-img {
  display: none;
}

.product-card__hover-img {
  display: none;
}

.product-card__img-wrapper:hover .product-card__hover-img {
  display: block;
  animation: fadeIn 0.2s ease-in-out;
}

.product-card__name {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 6px;
  color: var(--text-dark-color);
  text-align: start;
  --line-height: 2.4rem;
  line-height: var(--line-height);
  max-height: calc(var(--line-height) * 3);
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card__add-cart-btn {
  position: absolute;
  top: 5%;
  right: 0;
  min-width: 120px;
  visibility: hidden;
}

.product-card:hover .product-card__add-cart-btn {
  visibility: visible;
  animation: slideUp 0.2s linear;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.product-card--soldout .product-card__add-cart-btn {
  display: none !important;
}

.product-card__sold-out {
  position: absolute;
  left: 20px;
  top: 48px;
  font-size: 1.4rem;
  background-color: #bebdb9;
  color: var(--text-dark-color);
  font-weight: 600;
  padding: 4px 8px;
  border-radius: var(--border-radius-pill);
  display: none;
}

.product-card--soldout .product-card__sold-out {
  display: block;
}

.product-card__price {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
  color: var(--text-dark-color);
  margin-bottom: 12px;
  text-align: start;
}

/* Reponsive for productcart
 *
 */
/* Mobile & Tablet */
@media (max-width: 1023px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
  .product-card__link {
    font-size: 1.6rem;
    font-weight: 600;
  }
}

/* Cart item */
.cart-item {
  display: flex;
  align-items: center;
}

.cart-item__img {
  width: 96px;
  height: 96px;
  object-fit: contain;
}

.cart-item__body {
  display: flex;
}

.cart-item__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 16px;
}

.cart-item__name {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--text-dark-color);
  margin-bottom: 8px;
  --line-height: 2rem;
  line-height: var(--line-height);
  max-height: calc(var(--line-height) * 3);
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-item__name:hover {
  text-decoration: underline;
}

.cart-item__price-wrapper {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cart-item__total-price,
.cart-item__product-price {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgba(39, 39, 39, 0.7);
}

.cart-item__total-quantity {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(39, 39, 39, 0.7);
  font-weight: 300;
}

.cart-item__control {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-shrink: 0;
}

.cart-item__quantity-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-item__quantity-control-btn {
  border: none;
  outline: none;
  background-color: var(--black-alpha-10);
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: var(--text-dark-color);
  transition: all 0.1s linear;
}

.cart-item__quantity-control-btn:hover {
  background-color: var(--text-dark-color);
  color: var(--text-white-color);
}

.cart-item__quantity-control-btn i {
  font-size: 1.8rem;
}

.cart-item__quantity-num {
  font-size: 1.6rem;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--black-alpha-10);
}

.cart-item__remove-btn {
  font-size: 1.4rem;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: rgba(39, 39, 39, 0.7);
}

.cart-item__remove-btn:hover {
  opacity: 0.6;
}

/*
 * Responsive for cart item
 */
/* Mobile & Tablet */
@media (max-width: 1023px) {
  .cart-item__body {
    flex-direction: column;
  }
  .cart-item__img {
    width: 80px;
    height: 80px;
  }
  .cart-item__info {
    padding-right: 0;
    margin-bottom: 12px;
  }
  .cart-item__name {
    font-size: 1.4rem;
  }
  .cart-item__control {
    align-self: flex-start;
    padding-left: 16px;
    flex-direction: row;
  }
  .cart-item__quantity-input {
    margin-bottom: 0;
    margin-right: 12px;
    padding: 6px 8px;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .cart-item__img {
    width: 80px;
    height: 80px;
  }
  .cart-item__body {
    flex-direction: column;
    align-items: start;
  }
  .cart-item__info {
    padding-right: 0;
    margin-bottom: 16px;
  }
  .cart-item__name {
    font-size: 1.6rem;
  }
  .cart-item__total-price,
  .cart-item__product-price {
    font-size: 1.5rem;
  }
  .cart-item__total-quantity {
    font-size: 1.4rem;
  }
  .cart-item__control {
    flex-direction: row;
  }
}

/* Custom switch */
.custom-switch {
  --switch-width: 40px;
  --switch-height: 20px;
  --slider-margin-around: 3px;
  --slider-size: calc(var(--switch-height) - 2 * var(--slider-margin-around));
  --slide-length: calc(
    var(--switch-width) - var(--slider-size) - 2 * var(--slider-margin-around)
  );

  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

.custom-switch__checkbox-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #dfdfdf;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.custom-switch__slider:before {
  position: absolute;
  content: '';
  height: var(--slider-size);
  width: var(--slider-size);
  left: var(--slider-margin-around);
  bottom: var(--slider-margin-around);
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.custom-switch__checkbox-input:checked + .custom-switch__slider {
  background-color: var(--primary-color-light);
}

.custom-switch__checkbox-input:focus + .custom-switch__slider {
  box-shadow: 0 0 1px var(--primary-color-light);
}

.custom-switch__checkbox-input:checked + .custom-switch__slider:before {
  -webkit-transform: translateX(var(--slide-length));
  -ms-transform: translateX(var(--slide-length));
  transform: translateX(var(--slide-length));
}

.custom-switch__slider.custom-switch__slider--round {
  border-radius: var(--switch-height);
}

.custom-switch__slider.custom-switch__slider--round:before {
  border-radius: 50%;
}
