:root {
  --header-height: 130px;
  --sub-header-height: 48px;

  --primary-color: #1d2864;
  --primary-color-light: #3c619e;
  --white-color: #fff;
  --black-color: #000;
  --background-color: #1a1a1a;
  --text-dark-color: #272727;
  --text-white-color: #fff;

  --border-radius-pill: 500px;

  --box-shadow-btn: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Inter', sans-serif;

  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box;
  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;
  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

body {
}

.app {
  overflow-x: hidden;
  position: relative;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Position */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.top-0 {
  right: 0;
}

/* utils */
.text-align-center {
  text-align: center;
}

/* Seletion loading
 * Usage: add a div with class="skeleton" and set style="width: 100px; height: 40px"
 */
.skeleton {
  border-radius: 8px;
  animation: skeleton-loading 0.6s linear infinite alternate;
  cursor: default;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/* Sub-header */
.sub-header {
  background-color: var(--background-color);
  display: flex;
  overflow-x: hidden;
  --translate-x: -60px;
  transform: translateX(var(--translate-x));
  width: calc(100% - var(--translate-x));
  height: var(--sub-header-height);
  display: flex;
  align-items: center;
}

.sub-header__list {
  display: flex;
  flex-shrink: 0;
}

.sub-header__item {
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
  color: var(--text-white-color);
  padding: 0 84px;
  position: relative;
}

.sub-header__item::after {
  content: '';
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 4px;
  background-color: var(--text-white-color);
}

/* Button */
.btn {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 600;
  border: none;
  outline: none;
  padding: 16px 24px;
  border-radius: var(--border-radius-pill);
  background-color: var(--white-color);
  color: var(--text-dark-color);
  cursor: pointer;
  transition: all 0.1s linear;
}

.btn-primary {
  background-color: var(--primary-color-light);
  color: var(--text-white-color);
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--primary-color-light);
  outline: 3px solid var(--primary-color-light);
}
