.main-content {
    padding-top: var(--header-height)
}

.paragraph {
    display: block;
    max-width: 720px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 80px;
    padding-inline: 12px;
}

.image {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 4rem;
}

.title {
    margin-block: 64px;
}

.text-center {
    text-align: center;
}

.paragraph ul {
    list-style-type: disc;
    list-style: inside;
}

.paragraph ul li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.paragraph a {
    text-decoration: underline;
}

.paragraph .input {
    margin-bottom: 16px;
}

.paragraph .btn {
    margin-block: 24px;
}

.error {
    width: 100%;
    padding: 14px;
    border: none;
    background-color: rgb(245, 229, 229);
    margin-bottom: 16px;
    border-radius: 3px;
    color: red;
    font-size: 1.4rem;
}