.sec-account {
}

.sec-account__header {
  background-color: #f4f4f4;
  --sec-account-header-height: 64px;
  height: var(--sec-account-header-height);
}

.sec-account__header--loading {
  opacity: 0.4;
  pointer-events: none;
}

.sec-account__header-wrapper {
  display: flex;
  height: var(--sec-account-header-height);
}

.sec-account__header-nav {
  display: flex;
  height: 100%;
  flex-grow: 1;
  justify-content: center;
  gap: 32px;
}

.sec-account__header-nav-item {
  height: 100%;
  font-size: 1.6rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: rgba(39, 39, 39, 0.7);
  transition: all 0.15s linear;
}

.sec-account__header-nav-item:hover {
  color: rgba(39, 39, 39, 1);
}

.sec-account__header-nav-item--active {
  border-bottom: 3px solid var(--primary-color-light);
  color: rgba(39, 39, 39, 1);
}

.sec-account__logout-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 16px;
  font-size: 1.5rem;
  color: var(--text-dark-color);
  transition: all 0.15s linear;
}

.sec-account__logout-btn:hover {
  opacity: 0.6;
}

.sec-account__main {
  padding: 48px 0;
}

/* Order history */
.sec-account__order-history-heading {
  font-size: 2.4rem;
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.4;
  color: var(--text-dark-color);
}

.sec-account__order-history-heading i {
  font-size: 4.4rem;
  margin-right: 24px;
  color: var(--text-dark-color);
}

.sec-account__order-history-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.sec-account__order-history-item {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: relative;
}

.sec-account__order-history-item-header {
  display: flex;
  justify-content: space-between;
  line-height: 1.6;
  background-color: var(--status-color);
  padding: 12px;
  flex-wrap: wrap;
  gap: 8px;
}

.sec-account__order-history-item-header-text {
  font-size: 1.6rem;
  color: var(--text-white-color);
}

.sec-account__order-history-item-header-price-text {
  font-size: 1.5rem;
  color: var(--text-white-color);
}

.sec-account__order-history-item-header-price-num {
  font-size: 1.6rem;
  color: var(--text-white-color);
}

.sec-account__order-history-item-header-price-currency {
  font-size: 1.5rem;
  color: var(--text-white-color);
}

.sec-account__order-history-item-list-wrapper {
  padding: 16px;
  display: grid;
  grid-template-rows: 0fr;

  transition: all 0.3s ease-out;
}

.sec-account__order-history-item--expanded
  .sec-account__order-history-item-list-wrapper {
  grid-template-rows: 1fr;
}

.sec-account__order-history-item-control {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-account__order-history-item--collapsed
  .sec-account__order-history-item-control::after {
  content: 'Xem chi tiết +';
  bottom: 0px;
  left: 0;
  right: 0;
  height: 100%;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-account__order-history-item--expanded
  .sec-account__order-history-item-control::after {
  content: 'Ẩn chi tiết -';
  bottom: 0px;
  left: 0;
  right: 0;
  height: 100%;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-account__order-history-item-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
  min-height: 96px;
}

.sec-account__no-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.sec-account__no-order img {
  max-width: 60px;
}

.sec-account__no-order-text {
  font-size: 2rem;
  line-height: 1.1;
}

/* Personal information */
.acc-info__form {
  max-width: 1000px;
  margin: auto;
}

.acc-info__form-success-update {
  padding: 6px 24px;
  font-size: 1.4rem;
  border-radius: 8px;
  border: 3px solid green;
  color: green;
  font-weight: 700;
  align-items: center;
  margin-bottom: 16px;
  display: none;
}

.acc-info__form--success-update .acc-info__form-success-update {
  display: inline-flex;
}

.acc-info__form-success-update i {
  font-size: 2.4rem;
}

.acc-info__form-input-group {
  margin-bottom: 16px;
}

.acc-info__form-label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.acc-info__control {
  float: right;
}

/* 
 * Responsive
 */

/* Mobile & Tablet */
@media (max-width: 1023px) {
  .acc-info__form {
    padding: 32px 0px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
}
